.sidebarOption {
  display: flex;
  align-items: center;
  color: grey;
  height: 40px;
  cursor: pointer;
  transition: 200ms;
}

.sidebar > hr {
  border: 1px solid #282828;
  width: 90%;
  margin: 10px auto;
}

.sidebarOption:hover {
  color: white;
}

.sidebarOption_icon {
  margin-right: 10px;
  margin-left: 10px;
}
